.profilePage {
    margin-top: 0;
    background: black;
}

.profilePage__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.profilePage__body {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
}

.profilePage__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.5),
        rgba(17, 17, 17, 0.75),
        rgba(17, 17, 17, 1)
    );
}

.profilePage__profile {
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 100;
    display: flex;
    color: white;
    box-shadow: 0 1px 10px rgb(255, 255, 255);
}

.profilePage__profile > img {
    clip-path: circle();
    width: 70px;
    height: 70px;
    margin-left: 20px;
    z-index: 100;
}

.profilePage__profile > h3 {
    margin-left: 10px;
    font-weight: 600;
    font-size: 2rem;
    padding-left: 10px;
    margin-top: 15px;
    z-index: 100;
}

.profilePage__tabHeader {
    display: flex;
    color: rgb(158, 158, 158);
    align-items: center;
    top: 45px;
    position: relative;
}

.profilePage__tabHeader > div {
    width:calc(60% / 3);
    text-align: center;
    margin-left: 10%;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.profilePage__active {
    color: rgb(255, 255, 255)
}

.profilePage__tabIndicator {
    position: relative;
    width: calc(60% / 3);
    margin-left: 10%;
    height: 5px;
    background:rgb(255, 255, 255);
    top: 50px;
    border-radius: 5px;
}

.profilePage__tabBody > div {
    opacity: 0;
    margin-top: 5px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.profilePage__tabBody > div.profilePage__active {
    opacity: 1;
    transform: scale(1);

}

