@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loginPage__header {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.loginPage__title {
    margin-top: 6%;
    width: 60%;
    height: 40%;
    z-index: 100;
    font-size: 6rem;
    text-align: center;
    font-family: 'Impact';
    font-weight: 600;
    color:rgb(30, 51, 170);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.loginPage__input {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.loginPage__subtitle {
    font-size: 2.5rem;
    margin-top: 6%;
    font-weight: 300;
    color: rgb(101, 0, 184);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    z-index: 100;
}

.loginPage__insert {
    margin-top: 5%;
    width: 450px;
    padding: 30px;
}

.loginPage__insert .loginPage__insertData {
    height: 40px;
    width: 100%;
    position: relative;
}

.loginPage__insert .loginPage__insertData input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(162, 183, 221);
    font-size: 17px;
    outline: none;
    position: absolute;
    background: transparent;
    color: rgb(255, 255, 255);
}

.loginPage__insertData input:focus ~ label,
.loginPage__insertData input:valid ~ label {
    transform: translateY(-25px);
    font-size: 15px;
    color: rgb(183, 140, 233);
}

label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgb(162, 183, 221);
    pointer-events: none;
    transition: all 0.3s ease; 
}

.loginPage__insert .loginPage__insertData .loginPage__underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.loginPage__insertData .loginPage__underline::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background:rgb(183, 140, 233);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.loginPage__insertData input:focus ~ .loginPage__underline::before,
.loginPage__insertData input:valid ~ .loginPage__underline::before {
    transform: scaleX(1);
    background: rgb(183, 140, 233);
}


button {
    outline: none;
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 40px; 
    font-size: 18px;
    border-width: 3px;
    border-color:rgb(4, 0, 255);
    color:rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    font-family: 'Copperplate';
    font-weight: 900;
}

.loginPage__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6
}

.loginPage__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.5);
}




/* .loginPage {
    background-size: 1440px 720px;
    height: 100vh;
    background-repeat: no-repeat;
}

.loginPage__header {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #000000;
}

.loginPage__title {
    color: white; 
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 80px;
    text-align: center;
    font-size: 4rem;
    text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em 0 0 rgba(0, 255, 0, 0.75),
    0.025em 0 0 rgba(0, 0, 255, 0.75);
}

.loginPage__title span {
    position: absolute;
    top: 80px;
    left: 0;

}

.loginPage__title span:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.03em, -0.015em)
}

.loginPage__title span:last-child {
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.03em, 0.015em)
}

.loginPage__body {
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: -2;
    margin: 0 auto;
}

.loginPage__infoBox {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 50%;
    height: 300px;
    color: white;
    justify-content: center;
    align-items: center;
    background: black;
    position: absolute;
}

.loginPage__backgroundBox {
    margin-top: 60px;
    position: relative;
    width: 50%;
    height: 300px;
    background: linear-gradient(0deg, black,rgb(36, 35, 35));
    color: white;
}

.loginPage__glow::before , .loginPage__glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff
                                    , #ff00ff, #ff0099, #6e0dd0 , #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.loginPage__glow::after {
    filter: blur(30px);
}

.loginPage__subtitle {
    margin-top: -110px;
    font-size: 1.7rem;
}

.loginPage__infoBox > form {
    margin-top: 40px;
    width: 100%;
}

.loginPage__infoBox > form > input {
    padding: 15px;
    width: 60%;
    margin-left: 10%;
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

.loginPage__search {
    padding: 15px;
    width: 20%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    background: darkblue;
    color: white;
    font-weight: 700;
}

.loginPage__search:hover {
    background:purple;
    color:black;
} */

